.tweet-container {
  border-width: 1px;
  border-style: solid;
  border-color: #0084b4;
  border-radius: 5px;
  width: 100%;
  min-height: 80px;
  margin: 20px 0;
  padding: 0;
  overflow: hidden;
  box-shadow: 2px 2px 2px #0084b4;
}


.tweet-container {
  display: block;
}

img.profile-pic {
  margin: 20px;
  float: left;
}

.user {
  font-weight: bold;
  font-family: arial;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.alias {
  font-weight: lighter;
  font-family: arial;
  font-size: 12px;
}

.loader, .loaderPrev, .toggle-button button {
  background-color: white;
  border-color: #00aced;
  border-radius: 5px;
  border-width: thin;
  color: #00aced;
  margin: 20px;
  height: 35px;
  width: 150px;
  border-style: solid;
  font-family: arial;
  font-weight: bold;
}

.toggle-button {
  margin-left: 25%;
}

.toggle-button button:hover, .loader:hover, .loaderPrev:hover {
  background-color: #00aced;
  color: white;
}

.user-tweet {
  margin-left: 20px;
  width: 450px;
}

.tweet-time {
  margin-left: 20px;
}

.senti {
  clear: right;
  float: right;
  margin-right: 20px;
}



.navContainer {
  width: 390px;
  margin: auto;
}

.loaderPrev:disabled {
 background-color: white;
 color: darkgrey;
 border-color: darkgrey;
}
