#container {
  float: right;
  width: 1000px;
}
#tweets-container {
  padding: 100px;
}

.tweet-container {
border-width: 1px;
border-style: solid;
border-color: #0084b4;
border-radius: 5px;
width: 600px;
height: 120px;
margin: 20px;
margin-top: 0;
padding: 0;
display: table;
box-shadow: 2px 2px 2px #0084b4;
}

img {
  margin: 20px;
  float: left;
}

.user {
  font-weight: bold;
  font-family: arial;
  font-size: 18px;
}

.alias {
  font-weight: lighter;
  font-family: arial;
  font-size: 12px;
}

.follow-button {
  background-color: white;
  border-color: #00aced;
  border-radius: 5px;
  border-width: thin;
  color: #00aced;
  float: right;
  margin: 20px;
  height: 35px;
  width: 100px;
  border-style: solid;
  font-family: arial;
  font-weight: bold;
}

.follow-button:hover {
  background-color: #00aced;
  color: white;
}

.user-tweet {
  margin: 20px;
}
